.signupContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
    background: url('/public/assets/boarding.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 0;
}

.iconContainer {
    position: absolute;
    top: 20px;
    right: 20px;
}
  
.homeIcon {
    cursor: pointer;
    transition: transform 0.3s ease;
    color: #586fdf;
}
  
.homeIcon:hover {
    transform: scale(1.1);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #586fdf;
    height: 100vh;
    border-right: 5px dashed #F5F5F5;
}
  
.left h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #F5F5F5;
    text-shadow: 0 0 20px #F5F5F5;
    font-family: "Josefin Sans", sans-serif;
}
  
.left form {
    display: flex;
    flex-wrap: wrap;
}

.leftSignupForm,
.rightSignupForm {
    display: block;
    float: left;
    width: 50%;
}

.signupGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 5px;
    margin: 0 20px;
}
  
.signupContainer label {
    margin: 10px 0 5px;
    color: #F5F5F5;
    font-family: "Josefin Sans", sans-serif;
}
  
.signupContainer input, select {
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    background: #F5F5F5;
    color: #088284;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
        &::placeholder {
            color: #088284;
            font-style: italic;
        }
}

.signupContainer input:focus {
    border-color: #088284;
    box-shadow: 0 0 4px 2px #088284;
}
  
.signupButton {
    display: block;
    padding: 15px 50px;
    background-color: #088284;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.signupButton:hover, 
.signupButton:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 20px transparent;
}
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 #088284; }
  }

p {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #F5F5F5;
    gap: 5px;
    font-family: "Josefin Sans", sans-serif;

}

.link {
    text-decoration: none;
    color: #F5F5F5;
    cursor: pointer;
    &:hover,
    &:focus{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transition: text-shadow 0.3s ease-in-out;
    }
    &:active{
    color: #088284;
    }
}

.error {
    color: #F5F5F5;
    font-size: 0.8rem;
    text-align: left;
    margin: 5px 0;
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
}  

/* Media queries for mobile devices */
@media (max-width: 480px) {
    .left {
        width: 100%;
    }
    
    .leftSignupForm,
    .rightSignupForm {
        width: 50%;
    }

}

/* Media queries for tablets & mobile devices */
@media (min-width: 481px) and (max-width: 768px) {
    .left {
        width: 55%;
    }

    .leftSignupForm,
    .rightSignupForm {
        width: 50%;
    }

    .signupContainer {
        background-size: auto;
    }
}

/* Media queries for small screens & laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .leftSignupForm,
    .rightSignupForm {
        width: 50%;
    }
}

/* Media queries for desktops e big screens */
@media (min-width: 1025px) {
    .leftSignupForm,
    .rightSignupForm {
        width: 50%;
    }
}
  