.carrossel {
  display: flex;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 70vw;
  height: 50vh;
  align-items: center;
}

.card {
  position: relative;
  width: 500px;
  height: 340px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #586fdf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.seta img {
  width: 70px;
  cursor: pointer;
}

.orgIMG ul {
  list-style: none;
  margin: 2px;
  padding: 0;
}

.orgIMG li {
  margin: 4px 0;
}

.botoes-acoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.botoes-acoes button img {
  width: 27px;
  height: 27px;
}

.btnEditar img,
.btnExcluir img {
  width: 27px;
  height: 27px;
}

.btnEditar:hover img,
.btnExcluir:hover img {
  opacity: 0.8;
}

.btnEditar, .btnExcluir {
  background-color: #586fdf;
  border: none;
  color: #fff;
  border-radius: 10px; 
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btnEditar:hover, .btnExcluir:hover {
  background-color: #3d4eb8; 
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}


.btnVejaMais {
  background-color: #586fdf;
  padding: 7px 20px; 
  border-radius: 25px; 
  border: 2px solid #3d4eb8; 
  color: rgb(0, 0, 0); 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btnVejaMais:hover {
  background-color: #3d4eb8; 
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.btnEditar:hover,
.btnExcluir:hover {
  opacity: 0.8;
}