.carrossel {
  display: flex;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 70vw;
  height: 50vh;
  align-items: center;
}

.card {
  position: relative;
  width: 500px;
  height: 340px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #007bff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  max-width: 100%;
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 10px;
}

.seta img {
  width: 70px;
  cursor: pointer;
}

.orgIMG ul {
  list-style: none;
  margin: 2px;
  padding: 0;
}

.orgIMG li {
  margin: 4px 0;
}

.btnVejaMais {
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: #fff;
  cursor: pointer;
}

.botoes-acoes {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botoes-acoes button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.botoes-acoes button img {
  width: 24px;
  height: 24px;
}

.btnEditar img, .btnExcluir img {
  width: 24px;
  height: 24px;
}

.btnEditar:hover img, .btnExcluir:hover img {
  opacity: 0.8;
}

.btnEditar {
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btnExcluir {
  background-color: #dc3545;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btnEditar:hover, .btnExcluir:hover {
  opacity: 0.8;
}
