.mapContainer {
    display: flex;
    justify-content: center;
    height: 60vh; 
    width: 72vw; 
    position: relative; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.placeName {
    font-size: 1.2em;
    font-weight: bold;
    color: #088284; 
}
  
.placeDescription {
    font-size: 1em;
    color: #586fdf; 
    margin: 4px 0; 
}
  
.placeUser {
    font-size: 0.9em;
    color: #cbcae0;
}

/* Media query for small screens */
@media (max-width: 480px) {
    .mapContainer {
        height: 40vh; 
        width: 100%;
        margin-top: 15px;
    }
}

/* Media query for tablets & small screens */
@media (min-width: 481px) and (max-width: 768px) {
    .mapContainer {
        height: 25vw; 
        margin-top: 10px; 
    }
}

/* Media query for desktops & big screens */
@media (min-width: 769px) and (max-width: 1024px) {
    .mapContainer {
        height: 33vh; 
        width: 68vw; 
    }
}
