.tableContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #088284;
}

th {
    background-color: #586fdf;
    color: #F5F5F5;
}

td {
    font-family: "Josefin Sans", sans-serif;
    color: #088284;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: left;
}

th:nth-child(1) {
    border-right-color: #F5F5F5;
}

tr {
    transition: filter 0.3s ease-in-out;
}

tr:hover {
    filter: brightness(1.2);
}

/* Mobile devices with screen smaller than 480px */
@media (max-width: 480px) {
    .tableContainer {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Tablets & small screens (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .tableContainer {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Laptops & small screens (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .tableContainer {
        width: 100%;
        margin-bottom: 20px;
    }
}